<div class="card border-secondary mb-3" style="max-width: 20rem;">
    @* <div class="card-header">Header</div> *@
    <div class="card-body">
        @* <h4 class="card-title">Secondary card title</h4> *@
        <div class="row">
            <div class="col-6">
                <input id="Question" class="form-control" value="Question" />
            </div>
            <div class="col-6">
                <select  class="form-select" value="Options" id="QuestionType" />
                    <option>Short text</option>
                    <option>Multiple Choice</option>
                    <option>Checkboxes</option>     

                <select/>

            </div>
        </div>
        <button type="button" onclick="addQuestion()"><i class="bi bi-plus-circle-fill"></i></button>
        <button type="button" onclick="this.closest('.card').remove()"><i class="bi bi-trash-fill"></i></button>
 
    </div>
</div>