@using SurveyManagementSystem.BLL.Entities
@{
    Layout= null;
    var RoleList = ViewData["RoleList"] as IEnumerable<Role>;
}
           
   <form>
       <div class="modal-header">
           <h5 class="modal-title">Add User</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
       </div>

       <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" id="Name" />
                    <span class="text-danger"></span>
                </div>
             
                          
                <div class="mb-3">
                    <label  class="form-label">Address</label>
                    <input  class="form-control" id="Address" />
                    <span  class="text-danger"></span>
                </div>
               

              
                <div class="mb-3">
                    <label  class="form-label">Phone</label>
                    <input  class="form-control" id="Phone" />
                    <span  class="text-danger"></span>
                </div>

                <div class="mb-3">
                   <select id="Roles" asp-items="@(new SelectList(RoleList, "Id", "Name"))" class="form-select">
                       <option value="" selected disabled>Select Role</option>
                   </select>
                </div>
        </div>

        <div class="modal-footer">                  

        <button type="button" id="submitButton" class="btn btn-primary" onclick="saveUser()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>
             
                   


@section Scripts{
    @{     
        <partial name="_ValidationScriptsPartial"/>
    }
}

