
<div class="card border-secondary mb-3 checkbox-div" id="checkbox-div-0" style="max-width:auto;">
    <div class="card-body">
        <div class="row">
            <div class="col-11">
                <input class="form-control checkbox-input" type="checkbox" id="checkbox-input-0" />
            </div>
            <div class="col-1">
                <button type = "button" class="btn btn-close" onclick="this.closest('.checkbox-input').remove()"></button>           
            </div>
        </div>
    </div>
</div>